<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SariStorePOS"
        tools:targetApi="31">
        <activity
            android:name=".activities.transaction.transaction_invoice.TransactionInvoicePage"
            android:exported="false" />
        <activity
            android:name=".activities.transaction.transaction_history.TransactionHistoryPage"
            android:exported="false" />
        <activity
            android:name=".activities.transaction.transaction_daily_summary.TransactionDailySummaryPage"
            android:exported="false" />
        <activity
            android:name=".activities.transaction.TransactionPage"
            android:exported="false" />
        <activity
            android:name=".activities.inventory.InventoryProductListRecycler"
            android:exported="false" />
        <activity
            android:name=".activities.inventory.InventoryProductListPage"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard.DashboardPage"
            android:exported="false" />
        <activity
            android:name=".activities.store_finder.StoreFinderPage"
            android:exported="false" />
        <activity
            android:name=".activities.store_registration.StoreRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".activities.user_profile.UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".activities.store_selector.StoreSelectorPage"
            android:exported="false" />
        <activity
            android:name=".activities.entry.EntryPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.transaction.transaction_daily_summary._TransactionDailySummaryPage"
            android:exported="false" />
        <activity
            android:name=".activities.analytics.AnalyticsDailySalesPage"
            android:exported="false" />
        <activity
            android:name=".activities.transaction.transaction_history._TransactionHistoryPage"
            android:exported="false" />
        <activity
            android:name=".activities.analytics.AnalyticsForecastEntryPage"
            android:exported="false" />
        <activity
            android:name=".activities.pos.PosCheckoutPage"
            android:exported="false" />
        <activity
            android:name=".activities.inventory._InventoryEditProductPage"
            android:exported="false" />
        <activity
            android:name=".activities.inventory._InventoryProductDetailPage"
            android:exported="false" />
        <activity
            android:name=".activities.inventory._InventoryCreateProductPage"
            android:exported="false" />
        <activity
            android:name=".activities.analytics.AnalyticsForecastPage"
            android:exported="false" />
        <activity
            android:name=".activities.pos.PosPage"
            android:exported="false" />
        <activity
            android:name=".activities.inventory._InventoryProductListPage"
            android:exported="false" />
        <activity
            android:name=".activities.user_login.UserLoginPage"
            android:exported="false" />
        <activity
            android:name=".activities.user_registration.UserRegistrationPage"
            android:exported="false" />
        <activity
            android:name=".activities.store_profile.StoreProfilePage"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard._DashboardPage"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>